<div class="main">
  <div class="child">
    <select class="lang-select" size="15" [(ngModel)]="selectedValue" (change)="setSelectedObject()">
      <option *ngFor="let geographicUkr of geographicUkrs" [ngValue]="geographicUkr.id">{{geographicUkr.name}}</option>
    </select>
  </div>
  <div class="child" style="width: 100%">
    <div style="display: block">
      <p class="name">
        <span class="name">{{getName()}}</span>
        <span class="gender">&nbsp;&nbsp;&nbsp;{{getGeographicGrammaticalGender() !== '' ? '(' + getGeographicGrammaticalGender() + ')' : ''}}</span>
      </p>
      <p style="" class="type">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{getGeographicType()}}</p>


      <table class="cases" *ngIf="caseGeographicUkrLite !== undefined">
        <th class="cases">Називний</th>
        <th class="cases">Родовий</th>
        <th class="cases">Давальний</th>
        <th class="cases">Знахідний</th>
        <th class="cases">Орудний</th>
        <th class="cases">Місцевий</th>
        <th class="cases">Кличний</th>
        <tr>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.nominative : ''}}</td>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.genitive : ''}}</td>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.dative : ''}}</td>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.accusative : ''}}</td>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.instrumental : ''}}</td>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.prepositional : ''}}</td>
          <td class="cases">{{caseGeographicUkrLite !== undefined ? caseGeographicUkrLite.vocative : ''}}</td>
        </tr>
      </table>

      <br>

      <p class="id">{{selectedValue !== undefined ? 'id:' + selectedValue : ''}}</p>
    </div>
  </div>
</div>
<div class="child footer">
  count: {{countValues}}
</div>
