/* You can add global styles to this file, and also import other style files */
body {
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 15px;
}


.parent {
  display: flex;
  flex-direction: column;
}

.child {
  display: flex;
  margin: 0.5%;
  padding: 1px;
  border: 1px solid rgb(238, 184, 184);
}

.main {
  display: flex;
  flex-grow: 1;
}

.content {
  flex-grow: 1;
}

.lang-select {
  width:140px;
}

.footer {
  color: rgba(0, 0, 0, 0.35);
  font-size: small;
}

.name {
  font-family: Arial;
  font-weight: bold;
  margin:2px !important;
}

.type {
  color : green;
  font-size: x-small;
  font-style: italic;
}

.id {
  color : #bdbdbd;
  font-size: small;
}

.gender {
  color : #5d5d5d;
  font-size: x-small;
}

.cases {
  font-family: Arial;
  font-size: small;
  color : #2d2d2d;
  border: 1px solid #d9d9d9;
  border-collapse: collapse;
}

.translated {
  margin-left: 10px
}
